.container {
    display: flex;
    border: solid 2px white;
    flex-direction: row-reverse;
    background-color: darkBlue;
}

.item {
    border: solid 2px white;
    background-color: darkBlue;
    height: 100%;
    width: %;
    margin: -2px -2px -2px -2px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
}