.container {
    display: flex;
    border: solid 2px white;
    flex-direction: row-reverse;
    background-color: darkBlue;
}

.item {
    border: solid 2px white;
    background-color: darkBlue;
    height: 100%;
    margin: -2px -2px -2px -2px;
    padding: 1px 1px 1px 1px;
}

button {
    background-color: darkBlue;
    color: white;
}

body {
    background-color: black;
}